LogicApp/SkylinesLogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Post_a_tweet": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['twitter']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/posttweet",
                            "queries": {
                                "tweetText": "@{body('SampleFx')}"
                            }
                        },
                        "runAfter": {
                            "SampleFx": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "SampleFx": {
                        "inputs": {
                            "body": {
                                "name": "@triggerBody()?['TweetedBy']"
                            },
                            "function": {
                                "id": "/subscriptions/3d8c0f0e-410a-496c-9fa3-94127e6b4675/resourceGroups/Skylines/providers/Microsoft.Web/sites/skylinesfx/functions/SampleFx"
                            }
                        },
                        "runAfter": {
                            "Send_an_email_(V2)": [
                                "Succeeded"
                            ]
                        },
                        "type": "Function"
                    },
                    "Send_an_email_(V2)": {
                        "inputs": {
                            "body": {
                                "Body": "<p>Checking this out!!<br>\n<br>\n@{triggerBody()?['TweetText']}</p>",
                                "Subject": "@{triggerBody()?['UserDetails']?['UserName']} has tweeted!!",
                                "To": "joe@joefecht.com"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v2/Mail"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "else": {
                    "actions": {
                        "Send_an_email_(V2)_2": {
                            "inputs": {
                                "body": {
                                    "Body": "<p>It's cool all but... whatever...<br>\n<br>\n@{triggerBody()?['TweetText']}</p>",
                                    "Subject": "Sad Face",
                                    "To": "joe@joefecht.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "contains": [
                                "@triggerBody()?['TweetText']",
                                "Azure"
                            ]
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_tweet_is_posted": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['twitter']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/onnewtweet",
                    "queries": {
                        "searchQuery": "from:@joefecht"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "office365": {
                    "connectionId": "/subscriptions/3d8c0f0e-410a-496c-9fa3-94127e6b4675/resourceGroups/Test/providers/Microsoft.Web/connections/office365",
                    "connectionName": "office365",
                    "id": "/subscriptions/3d8c0f0e-410a-496c-9fa3-94127e6b4675/providers/Microsoft.Web/locations/centralus/managedApis/office365"
                },
                "twitter": {
                    "connectionId": "/subscriptions/3d8c0f0e-410a-496c-9fa3-94127e6b4675/resourceGroups/Test/providers/Microsoft.Web/connections/twitter-1",
                    "connectionName": "twitter-1",
                    "id": "/subscriptions/3d8c0f0e-410a-496c-9fa3-94127e6b4675/providers/Microsoft.Web/locations/centralus/managedApis/twitter"
                }
            }
        }
    }
}